/*Обнуление
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}


body{

	background-image: url(img/bg.png);
	min-width: 1000px;
}


div.block{
	margin: 20px;
	background-color:#EFE6E6;
   padding:10px;
   font-size: 25px;
   text-align: justify;
   box-shadow: 3px 4px 8px;

}

div.content{
	font-style: italic;
}
div.row{
	padding-top:6px ;
	margin: 0px 20px 0px 20px;
   border: 1px solid #000;
   height: 40px;
   background-color: #EFE6E6;
   box-shadow:3px 4px 8px;
}
a{
 margin: 0px 0px 0px 10%;
 
}
a:hover{
	
	
	border: 0px solid #000;
	background-color: #E1D9D9;
  
}
input{
	display: inline-block;
	margin: 0px 0px 0px 10%;
	width: 300px;
	height: 20px;
}

img{

width: 20px;
height:20px ;

}
div.block2 {
	width: 15%;
	margin: 20px 20px 20px 83.5%;
	background-color:#EFE6E6;
   padding:10px;
   font-size: 17px;
   box-shadow: 3px 4px 8px;
   height: 40%;
   line-height: 25px;

}

div.card{
	padding: 0px 0px 33.3% 0px;
	text-align: justify;
	background-color:#FAF1F1 ;
	;
}
div.card2{
	padding: 0px 0px 33.3% 0px;
	text-align: justify;
	background-color:#FAF1F1 ;
	;
}
div.card3{
	padding: 0px 0px 33.3%px 0px;
	text-align: justify;
	background-color:#FAF1F1 ;
	;
}
div.block3{
	margin-left:1.3% ;
	background-color:#EFE6E6;
   padding:10px;
   font-size: 20px;
   text-align: justify;
   box-shadow: 3px 4px 8px;
   width:80%;
   position: relative;
   bottom: 43.1% ;
   height:40% ; 
   line-height: 25px;
}

footer{
	letter-spacing: 5px;
	background-color:#EFE6E6 ;
	text-align: center;
	border: 1px solid #000;
	height: 8%;
	padding-bottom: 4%;
	padding-top: 4%;
	font-size: 23px;
	font-style: oblique;
}